
body {
    background-color: #009f9b;
    margin: 20px 0 0 0;
    padding: 1vw;
}

h2 {
    margin:5px;
}
div.input-area {
    width:100%;
    height:50px;
}

div.input-area input {
    height: 25px;
    margin: 5px;
}

div.input-area input[type=text]{
    width: 60%;
}

div.input-area input[type=checkbox],label{
    vertical-align:middle;
}

div.results-area {
    width:100%;
    height:fit-content;
    position:relative;
}

div.results-images {
    width:48vw;
    min-height:150px;
    max-height:65vh;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    background-color: #ffffff;
    border-color: #d0d0d0;
    border-style:solid;
    border-radius:3px;
    border-width:3px;
    overflow-y: auto;
    box-sizing: border-box;
}

div.results-normal {
    width:48vw;
    min-height:150px;
    max-height:65vh;
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    background-color: #ffffff;
    border-color: #d0d0d0;
    border-style:solid;
    border-radius:3px;
    border-width:3px;
    overflow-y: auto;
    box-sizing: border-box;
}

div.img-thumbnail {
    display:inline;
}

div.img-thumbnail img {
    width:15vw;
    height:15vw;   
}

p.link-thumbnail {
    margin: 10px;
}

a.thumbnail {
    text-decoration:none;
    color:chocolate;
}

a.thumbnail b {
    text-decoration:underline;
    color:blue;
}